---
layout: archive
title: "Communications"
permalink: /talks/
author_profile: true
---

<h2>Colloques</h2>
{% assign items = site.talks | where: "category", "colloque" | sort: "date" | reverse %}
{% for item in items %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Journées d’étude</h2>
{% assign items = site.talks | where: "category", "journee" | sort: "date" | reverse %}
{% for item in items %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Congrès</h2>
{% assign items = site.talks | where: "category", "congres" | sort: "date" | reverse %}
{% for item in items %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Séminaires</h2>
{% assign items = site.talks | where: "category", "seminaire" | sort: "date" | reverse %}
{% for item in items %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Ateliers</h2>
{% assign items = site.talks | where: "category", "atelier" | sort: "date" | reverse %}
{% for item in items %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Posters</h2>
{% assign items = site.talks | where: "category", "poster" | sort: "date" | reverse %}
{% for item in items %}
  {% include archive-single-talk.html %}
{% endfor %}
