---
layout: archive
title: "Communications"
permalink: /talks/
author_profile: true
---

<h2>Colloquia</h2>
{% assign colloques = site.talks | where: "category", "colloque" | sort: "date" | reverse %}
{% for post in colloques %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Study Days</h2>
{% assign journees = site.talks | where: "category", "journee" | sort: "date" | reverse %}
{% for post in journees %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Congresses</h2>
{% assign congres = site.talks | where: "category", "congres" | sort: "date" | reverse %}
{% for post in congres %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Seminars</h2>
{% assign seminaires = site.talks | where: "category", "seminaire" | sort: "date" | reverse %}
{% for post in seminaires %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Workshops</h2>
{% assign ateliers = site.talks | where: "category", "atelier" | sort: "date" | reverse %}
{% for post in ateliers %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr />

<h2>Posters</h2>
{% assign posters = site.talks | where: "category", "poster" | sort: "date" | reverse %}
{% for post in posters %}
  {% include archive-single-talk.html %}
{% endfor %}
